*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template-rows: 200px 150px auto;
    text-align: center;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}

.menu{
    display: flex;
    justify-content: flex-end; 
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
    margin-right: 1rem;
}

.contact img{
    margin-top: 10rem;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 30rem;
}


