*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: cover;
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 1000px;
    width: 90%;
}
/* .menu{
    display: flex;
    justify-content: flex-end;
} */


.main-title{
    display: flex;
    justify-content: flex-start;
}

header nav ul{
    text-align: right;
}

header nav ul li{
    display: inline-block;
}

figure{
    margin: 2rem 0;
}
figure img{
    width: 50%;

}
footer{
    display: block;
    text-align: center;
}





