*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 50px auto;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}

.menu{
    display: flex;
    justify-content: flex-end; 
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
    margin-right: 1rem;
}

.main-content{
    display: grid;
    grid-template-rows: 200px 350px;
    grid-template-columns: 500px 300px;
    gap: 25px;
    margin-left: 5rem;
}

footer{
    display: flex;
    flex-direction: row;

}

.socialmedia{
    text-align: center;
}

.smallcopyright{
    text-align: center;
}

