

*{
    margin:0px;
    padding:0px;
    font-family: 'Fira Sans', sans-serif; 
}

html{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: 2000px;
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
}

.menu :visited{
    color: rgb(190, 109, 28)
}

.menu :hover{
    color: rgb(35, 72, 175);
}

.menu li{
    display: inline;
    list-style: none;
}

h1{
    text-align: center;
    font-size: 3rem;   
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact img{
    width: 15%;
}

.socialmedia img{
    width: 5%;
}





