*{
    margin:0px;
    padding:0px;
  
}
html{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: 2000px;
    color: var(--One-color);
    font-family: 'Fira Sans', sans-serif; 
    
}

:root{
    --One-color: #253D5B;
    --Two-color:#07883B;
    --Three-Color: #e0fbfc;
    --Four-color:  #FA834C;
    --Five-color: #1a1f29;
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
    border-radius: 15px;
    height: fit-content;

}

.skills-items li{
    list-style: none;   
}

.menu-items li{
    display: inline;
    list-style: none;
    color: var(--Four-color);
    
}

.menu-items :visited{
    color: var(--One-color);
}

.menu-items :hover{
    color: var(--Two-color);
}

h1{
    text-align: center;
    font-size: 3rem;   
    margin-bottom: 3rem;
}

.bio-image img{
    border-radius: 15px;
    width: 100%;
}

.socialmedia img{
    border-radius: 5px;
    width: 5%;
}












