*{
    margin:0px;
    padding:0px;
    font-family: 'Fira Sans', sans-serif; 
}

html{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: 2000px;
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
}

.menu li{
    display: inline;
    list-style: none;
}

.menu :visited{
    color: rgb(190, 109, 28)
}

.menu :hover{
    color: rgb(35, 72, 175);
}

h1{
    text-align: center;
    font-size: 3rem;   
    margin-bottom: 2rem;
}

h2{
    text-align: center;
}
.description{
    margin-top: 1rem;
}

.technologies{
    margin-top: 1rem;
}
.virtualpetshelter-image img{
    border-radius: 15px;
    width: 100%;
}

.socialmedia img{
    border-radius: 5px;
    width: 5%;
}


