*{
    margin:0px;
    padding:0px;
    font-family: 'Fira Sans', sans-serif; 
    color: var(--primary);
}

html{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: 2000px;
}

:root{
    --primary: #142329;
    --secondary: #2B7A78;
    --Tertiary: #3AAFA9;
    
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
    max-width: 1500px;
    max-height: fit-content;
}

.menu li{
    display: inline;
    list-style: none;
}

.menu :visited{
    color: var(--primary);
}

.menu :hover{
    color: var(--secondary);
}

h1{
    text-align: center;
    font-size: 3rem;   
    margin-bottom: 2rem;
}

h2{
    text-align: center;
}
.description{
    margin-top: 1rem;
}

.technologies{
    margin-top: 1rem;
}
.virtualpetshelter-image img{
    border-radius: 15px;
    height: 200px;
    width: 300px;
    width: 100%;
    border: solid
}

.donut-debacle-image img{
    border-radius: 15px;
    height: 200px;
    width: 300px;
    width: 100%;
    border: solid;
}

.marvins-music-image img{
    border-radius: 15px;
    height: 200px;
    width: 300px;
    width: 100%;
    border: solid;
}

.socialmedia img{
    border-radius: 5px;
    width: 5%;
}


