
*{
    margin:0px;
    padding:0px;
    font-family: 'Fira Sans', sans-serif; 
    color: var(--primary);
}


html{
    background-image: url("./WhiteBricksBG.jpg");
    background-size: 2000px;
}

:root{
    --primary: #142329;
    --secondary: #2B7A78;
    --Tertiary: #3AAFA9;   
}

.container{
    background-color: rgba(153, 150, 150, 0.452);
}

.menu :visited{
    color: var(--secondary);
}

.menu :hover{
    color: var(--Tertiary);
}

.menu li{
    display: inline;
    list-style: none;
}

h1{
    text-align: center;
    font-size: 3rem;   
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact img{
    width: 15%;
}

.socialmedia img{
    width: 5%;
}





